.redondo{

    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;

}

.derecha{
    float:right;
}

.colorRojo{
    background-color: #d02929;
}

.encabezado{
   
    background-color: #d02929;
    color:#fff;
    height: 50px;
   

}

.vertical{
    position: relative;
    top: 10%;
    
}

.fila{
    margin: 10px 0;
}

.redondeado{
     -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color:  #d02929;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6);
    outline: 0 none;
}
.fondoGris{
    background: #cccccc;
}
